video::-webkit-media-controls {
    display: none;
  }

.banner > video{
    width: 100%;
}

.description{
    width: 350px;
    position: relative;
    float: right;
    top: -400px;
    right: 50px;
    
}

.description > img {
    width: 350px;
    color: #fff;
}

.description > .btn{
    position: relative;
    top: -20px;
    left: 60px;
}

.description  > p{
    position: relative;
    color: #fff;
    text-align: center;
    line-height: 30px;
}

.description > .btn > .stream-btn{
    position: relative;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    padding: 15px 70px;
    border: 1px #dacc99 solid;
    border-radius: 30px;
    line-height: 120px;
    background-color: #dacc99;

}

.description > .btn > .trailer-btn{
    position: relative;
    text-decoration: none;
    color: #fff;
    padding: 15px 60px;
    border: 1px #fff solid;
    border-radius: 30px;
    
}

.description > .btn > .stream-btn:hover{
   background-color: #af9e61;
   border: 1px #af9e61 solid;
}

.description > .btn > .trailer-btn:hover{
    background-color: #373324;
    
 }

 